{% extends 'base.html.twig' %}

{% block title %}Edit HoodtrooperPlaceComment{% endblock %}

{% block body %}
    <h1>Edit HoodtrooperPlaceComment</h1>

    {{ include('hoodtrooper_place_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hoodtrooper_place_comment_index') }}">back to list</a>

    {{ include('hoodtrooper_place_comment/_delete_form.html.twig') }}
{% endblock %}
