<form class="ajax-form" method="post" action="{{ path('hoodtrooper_place_delete', {'id': hoodtrooper_place.id}) }}" onclick="return confirm('Are you sure you want to delete this place?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hoodtrooper_place.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
