{% extends 'base.html.twig' %}

{% block title %}New HoodtrooperPlace{% endblock %}

{% block body %}
    <h1>Create new HoodtrooperPlace</h1>

    {{ include('hoodtrooper_place/_form.html.twig') }}

    <a href="{{ path('hoodtrooper_place_index') }}">back to list</a>
{% endblock %}
