<div class="row px-2">
    <div class="col-2 pl-3">
        <p class="font-weight-bold">Comments</p>
    </div>
    <div class="col-10 px-3 pb-3">
        {{ include('hoodtrooper_place_comment/_form.html.twig', { formActionUrlVal: form_comment_action_url  }) }}
    </div>
</div>
{{ include('hoodtrooper_place_comment/index.html.twig', { formActionUrlVal: form_comment_action_url  }) }}
