<div class="row px-2">
    <div class="col-3 px-3">
        <p class="font-weight-bold">Comments</p>
    </div>
    <div class="col-9 px-3 pb-3">
        {% if app.user %}
            {{ include('hoodtrooper_place_comment/_form.html.twig', { formActionUrlVal: form_comment_action_url  }) }}
        {% endif %}
    </div>
</div>
{{ include('hoodtrooper_place_comment/index.html.twig', { formActionUrlVal: form_comment_action_url  }) }}
